<h1>The Lotto</h1>
<form>
    <input type="text" class="input" id="input1" placeholder="Enter number" />
    <input type="text" class="input" id="input2" placeholder="Enter number" />
    <input type="text" class="input" id="input3" placeholder="Enter number" />
    <input type="text" class="input" id="input4" placeholder="Enter number" />
    <input type="text" class="input" id="input5" placeholder="Enter number" />
    <input type="text" class="input" id="input6" placeholder="Enter number" />
    <input type="button" class="button" value="See Winning Numbers!" onclick="getLuckyNumbers()" />
</form>

<div class="numbers">
    <p id="L1" class="circle">  </p>@*Two spaces to create padding*@
    <p id="L2" class="circle">  </p>
</div>
<div class="numbers">
    <p id="L3" class="circle">  </p>
    <p id="L4" class="circle">  </p>
</div>
<div class="numbers">
    <p id="L5" class="circle">  </p>
    <p id="L6" class="circle">  </p>
</div>